

<p id="notice"><%= notice %></p>

<h1>Listing Displays</h1>

<div style="overflow-x:auto;">
  <table id='index_table'>
    <thead>
      <tr>
        <th><%= sortable 'Name' %></th>
        <th><%= sortable 'Price' %></th>
        <th><%= sortable 'Resolution' %></th>
        <th><%= sortable 'Brand' %></th>
        <th><%= sortable 'aspect_ratio', 'Aspect Ratio' %></th>
        <th><%= sortable 'Size' %></th>
        <th><%=  'Ports' %></th>
        <th><%= sortable 'response_time', 'Response time' %></th>
        <th><%= sortable 'refresh_rate', 'Refresh rate' %></th>
        <th><%= sortable 'Speakers' %></th>
        <th><%=  'Dimensions' %></th>
        <th><%= sortable 'Panel' %></th>
        <th><%=  'Release' %></th>
        <th><%= sortable 'stand_misc', 'Stand misc' %></th>
        <th><%= sortable 'gpu_sync', 'Gpu sync' %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @displays.each do |display| %>
        <tr>
          <td><%= link_to display.name, display %></td>
          <td><%= number_to_currency(display.Price) %></td>
          <td><%= display.resolution %></td>
          <td><%= display.brand %></td>
          <td><%= display.aspect_ratio %></td>
          <td><%= display.size  %> ''</td>
          <td><%= display.ports %></td>
          <td><%= display.response_time %> ms</td>
          <td><%= display.refresh_rate %> Hz</td>
          <td><%= display.speakers %></td>
          <td><%= display.dimensions %></td>
          <td><%= display.panel %></td>
          <td><%= display.release %></td>
          <td><%= display.stand_misc %></td>
          <td><%= display.gpu_sync %></td>
          <td><%= link_to 'Destroy', display, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<%=@search%>
<%= link_to 'New Display', new_display_path %>


<%= link_to 'Amazon Reviews Preview',"javascript:;",id:'review_preview'%>

 <% @displays.each do |display| %>
    <%= render 'display_listing',:display=>display%>
  <% end %>
