<p id="notice"><%= notice %></p>



<%@amazon_search=@display.name.to_s%>
<% res = Amazon::Ecs.item_search(@amazon_search, :search_index => 'All',)%>
<% @matchs=res.items%>
<%@match=@matchs.at(0)%>
<%@asin=@match.get('ASIN')%>


<%@match.get('DetailPageURL')%>

<% @product = Amazon::Ecs.item_search(@asin, :search_index => 'All',:response_group =>'Offers')%>

<%@product.items.each do |item|%>
  
  <%@amazon_price=item.get('Offers/Offer/OfferListing/Price/FormattedPrice')%>

<%end%>

<% @product_reviews = Amazon::Ecs.item_search(@asin, :search_index => 'All',:response_group =>'Reviews')%>

<% @product_reviews.items.each do |item|%>
  
  <%@amazon_reviews_link=item.get('CustomerReviews/IFrameURL')%>

<%end%>

<% @amazon_reviews_link.gsub! 'amp;',''%>

<%if false%>---------------------------------------------------------------------------------<%end%>





<h1><%= (@display.name)%></h1>


<%= image_tag @display.image.url,:class=>'show_image' %>

    

<%= link_to 'Edit', edit_display_path(@display) %> |
<%= link_to 'Back', displays_path %>

<%= link_to 'Amazon Page',@match.get('DetailPageURL')%>

<%= link_to 'Amazon Reviews',@amazon_reviews_link%>



 <ul class="show_nav" id="my_show_nav">
  <li><%= link_to 'Amazon Page',@match.get('DetailPageURL')%></li>
  <li><%= link_to 'Specs',"javascript:;",id:'show_specs'%></li>
  <li><%= link_to 'Amazon Reviews Preview',"javascript:;",id:'review_preview'%>
</li>
</ul>




<div id='show_table'>
  <table>
    <tr>
      <td>Price</td>
      <td><%=link_to @amazon_price,@match.get('DetailPageURL')%></td>
    </tr>
    <tr>
      <td>Brand</td>
      <td><%=@display.brand%></td>
    </tr>
    <tr>
      <td>Resolution</td>
      <td><%= @display.resolution%></td>
    </tr>  
    <tr>
      <td>Aspect ratio</td>
      <td><%= @display.aspect_ratio%></td>
    </tr>  
    <tr>
      <td>Size</td>
      <td><%= @display.size%> in.</td>
    </tr>  
    <tr>
      <td>Ports</td>
      <td><%= @display.ports%></td>
    </tr>   
    <tr>
      <td>Response time</td>
      <td><%= @display.response_time%> ms</td>
    </tr>      
    <tr>
      <td>Refresh rate</td>
      <td><%= @display.refresh_rate%> Hz</td>
    </tr>      
    <tr>
      <td>Speakers</td>
      <td><%= @display.speakers%></td>
    </tr>      
    <tr>
      <td>Dimensions</td>
      <td><%= @display.dimensions%></td>
    </tr>       
    <tr>
      <td>Panel</td>
      <td><%= @display.panel%></td>
    </tr>     
    <tr>
      <td>Release</td>
      <td><%= @display.release%></td>
    </tr>     
    <tr>
      <td>Stand misc</td>
      <td><%= @display.stand_misc%></td>
    </tr>     
    <tr>
      <td>Gpu syn</td>
      <td><%= @display.gpu_sync%></td>
    </tr>                         
  </table>
</div>

<br>

<iframe id='reviews'src= <%= @amazon_reviews_link %>></iframe>