<!DOCTYPE html>
<html>
<head>
  <title>TechCompare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <link href="https://fonts.googleapis.com/css?family=Francois+One|Open+Sans" rel="stylesheet">

  <%= csrf_meta_tags %>
</head>
<body>

<ul class="topnav" id="myTopnav">
  <li><%= link_to 'Home', '/' %></li>
  <li><%= link_to 'Monitors', displays_path%></li>
  <li id='compare_div'>
    <%= link_to 'Compare', 'javascript:;' %>

    <%= form_tag(search_path, method: "get") do %>
      <%= text_field_tag(:search,nil,:placeholder => 'Compare Product',:class=>'auto',data:{autocomplete_source: Display.order(:name).map(&:name)}) %>
      <%= text_field_tag(:search2,nil,:placeholder => 'Compare Product',:class=>'auto',data:{autocomplete_source: Display.order(:name).map(&:name)}) %>
      <%= submit_tag("Compare",class: 'auto',id: 'compare_btn') %>
    <% end %>
  </li>
  <li><%= link_to 'Contact','/contacts/new'%></li>
  <li class="icon">
    <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
  </li>
</ul>

<% flash.each do |type,message|%>
   
  <% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
  <% end %>

  <% if flash[:noticee] %>
    <div class="noticee"><%= flash[:noticee] %></div>
  <% end %>
<%end%>


<%= yield %>

</body>
</html>
